body{
    background-image:url("http://4.bp.blogspot.com/-FyJuSNsRrWs/TibLzmYFU3I/AAAAAAAAK40/0BGwL0v2eyk/s1600/cool%2Bcomputer%2Bbackgrounds-2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.project{

    display:flex;
    justify-content:space-around;
    border:solid;
    border-color:rgb(255, 0, 0);
}

.title{

    display:flex;
    justify-content:space-evenly;
    justify-content:space-between;
    border:solid;
    border-color:rgb(255, 0, 0);
}

.text{
    display:flex;
    justify-content:space-around;
    border:solid;
    border-color:rgb(255, 81, 0);
}

.body{

    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    border:solid;
    border-color:rgb(255, 0, 0);
}

.image1{
    display: flex;
    justify-content: flex-end;
}

.image2{
    display: flex;
    justify-content: flex-end;
    justify-content:space-around;
}

.projects{
    position:relative;
    justify-content:space-around;
    justify-content:space-evenly;
    border:solid;
    border-color:rgb(255, 0, 0);
}

.projects p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}

.projects:hover p{
    opacity:1;
}

.projects:hover img{
    opacity:0.1;
}

.image1 p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}

.image1:hover p{
    opacity:3;
}

.image1:hover img{
    opacity:0.1;
}

.image2 p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}

.image2:hover p{
    opacity:3;
}

.image2:hover img{
    opacity:0.1;
}
